{% load humanize %}

    <nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">

            <ul class="navbar-nav">
                <li {% if request.path == '/' %} class="nav-item active" {% else %} class="nav-item" {% endif %}><a href={% url "pages:index" %} class="nav-link">Home</a></li>
                <li {% if 'about' in request.path %} class="nav-item active" {% else %} class="nav-item" {% endif %}><a href={% url "pages:about" %} class="nav-link">About</a></li>
            </ul>

            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li {% if 'dashboard' in request.path %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                    <a href={% url "accounts:dashboard" %}
                       class="nav-link">DASHBOARD ({% if user.first_name %} {{user.first_name | title}} {% else %} ADMIN {% endif %})     
                    </a>
                </li> 
                
                {% if user.is_staff %}
                <li {% if 'books/search' in request.path %} class="nav-item active" {% else %} class="nav-item" {% endif %}><a href={% url "books:search_adv" %} class="nav-link">Search Book</a></li>
                <li {% if 'books/edit' in request.path %} class="nav-item active" {% else %} class="nav-item" {% endif %}><a href={% url "books:edit" %} class="nav-link">Add Book</a></li>
                <li {% if 'events/edit' in request.path %} class="nav-item active" {% else %} class="nav-item" {% endif %}><a href={% url "events:edit" %} class="nav-link">Event</a></li>
                <li {% if 'accounts' in request.path %} class="nav-item active" {% else %} class="nav-item" {% endif %}><a href={% url "accounts:search" %} class="nav-link">ACCOUNTS</a></li>
                {% else %}
                <li {% if 'books/search' in request.path %} class="nav-item active" {% else %} class="nav-item" {% endif %}><a href={% url "books:search_adv" %} class="nav-link">Search Book</a></li>
                {% endif %}

                <!-- logout --> 
                <li class="nav-item mr-3">
                    <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                        <i class="fas fa-sign-out-alt">Logout</i>
                    </a>
                    <form action="{% url 'accounts:logout' %}" method="POST" id="logout">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>
                </li>
                <!-- end of logout -->
                {% else %}
                <li {% if 'register' in request.path %} class="nav-item active" {% else %} class="nav-items" {% endif %}><a href={% url "accounts:register" %} class="nav-link">Register</a></li>
                <li {% if 'login' in request.path %} class="nav-item active" {% else %} class="nav-item" {% endif %}><a href={% url "accounts:login"    %} class="nav-link">Login</a></li>
                {% endif %}
            </ul>

    </nav>