    <!-- Topbar -->
    <div class="topbar">
        <div class="logo">
            <div class="logo-icon">
                <i class="fas fa-book-open"></i>
            </div>
            <div class="logo-text">
                <h1>Hong Kong Community Library</h1>
                <p>Where Knowledge Meets Culture</p>
            </div>
        </div>
        
        <form action="{% url 'books:search' %}" method="get">
        <div class="search-bar">
            <input type="text" name="q" placeholder="Search books, authors, or topics...">
            <button><i class="fas fa-search" ></i> <span class="search-text">Search</span></button>
        </div>
        </form>
    </div>
