{% extends "base.html" %} 
{% block title %} Search {% endblock %}
{% block content %}

<h1> accounts/search </h1>
<section class="hero">
            <div class="search">
              <form action="#">
                <!-- Form Row 1 -->
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label class="sr-only">First Name</label>
                    <input
                      type="text"
                      name="keywords"
                      class="form-control"
                      placeholder="First Name"
                    />
                  </div>

                  <div class="col-md-4 mb-3">
                    <label class="sr-only">Phone</label>
                    <input
                      type="text"
                      name="title"
                      class="form-control"
                      placeholder="Phone"
                    />
                  </div>

                  <div class="col-md-4 mb-3">
                    <label class="sr-only">User Name</label>
                    <input
                      type="text"
                      name="title"
                      class="form-control"
                      placeholder="User Name"
                    />
                  </div>

                </div>
                <!-- Form Row 2 -->
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label class="sr-only">Last Name</label>
                    <input
                      type="text"
                      name="keywords"
                      class="form-control"
                      placeholder="Last Name"
                    />
                  </div>

                  <div class="col-md-4 mb-3">
                    <label class="sr-only">Email</label>
                    <input
                      type="text"
                      name="title"
                      class="form-control"
                      placeholder="Email"
                    />
                  </div>

                </div>
                <button class="btn btn-secondary btn-block mt-4" type="submit">
                  Search
                </button>
              </form>
            </div>   
          </section>


{% endblock content  %}