{% extends "base.html" %} 
{% block title %} List {% endblock %}
{% block content %}

<!-- Hero Section -->
  <section id="dashboard" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-md-12">


            {% if listings %}
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Author</th>
                  <th>ISBN</th>
                  <th>Language</th>
                  <th>Category</th>
                </tr>
              </thead>

              <tbody>
                {% for listing in listings %}
                <tr>
                  <td>{{ listing.id }}</td>
                  <td>{{ listing.title }}</td>
                  <td>{{ listing.author }}</td>
                  <td>{{ listing.isbn }}</td>
                  <td>{{ listing.language }}</td>
                  <td>{{ listing.category }}</td>

                  {% if user.is_staff %}
                  <td>
                    <button class="btn btn-danger" data-url="#" data-toggle="modal" data-target="#deleteConfirmModal" data-id="{{ contact.id}}">Delete</button>
                  </td>
                  {% else %}
                    <td>
                    <a href="#" class="btn btn-success">Borrow</a>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
            </tbody>  
            </table>
            {% else %}
            <div class="col-md-12">
              <h2>NOT Available</h2>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </section>


{% endblock content  %}