{% extends "base.html" %} 
{% block title %} List {% endblock %}
{% block content %}

<h1> books/listing </h1>

            <div class="search">
              <form action="#">
                <!-- Form Row 1 -->
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label class="sr-only">Title</label>
                    <input
                      type="text"
                      name="keywords"
                      class="form-control"
                      placeholder="Title"
                    />
                  </div>

                  <div class="col-md-4 mb-3">
                    <label class="sr-only">Author</label>
                    <input
                      type="text"
                      name="title"
                      class="form-control"
                      placeholder="Author"
                    />
                  </div>

                  <div class="col-md-4 mb-3">
                    <label class="sr-only">ISBN</label>
                    <input
                      type="text"
                      name="title"
                      class="form-control"
                      placeholder="ISBN"
                    />
                  </div>

                </div>
                <!-- Form Row 2 -->
                <div class="form-row">

                  <div class="col-md-6 mb-3">
                    <label class="sr-only">Category</label>
                    <select name="language" class="form-control">
                      <option selected="true" disabled="disabled">
                        (All)
                      </option>
                      <option value="1">History</option>
                      <option value="2">Science</option>

                    </select>
                  </div>

                  <div class="col-md-6 mb-3">
                    <label class="sr-only">Language</label>
                    <select name="language" class="form-control">
                      <option selected="true" disabled="disabled">
                        (All)
                      </option>
                      <option value="1">English</option>
                      <option value="2">Chinese</option>

                    </select>
                  </div>

                </div>
                <button class="btn btn-secondary btn-block mt-4" type="submit">
                  Submit form
                </button>
              </form>
            </div>   

    <section id="dashboard" class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Welcome </h2>


            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Author</th>
                  <th>ISBN</th>
                  <th>Language</th>
                  <th>Category</th>
                </tr>
              </thead>
              
              <tbody>
                <tr>
                  <td>1</td>
                  <td>War</td>
                  <td>Jim Bolger</td>
                  <td>545887596578</td>
                  <td>Chinese</td>
                  <td>Story</td>
                  <td>
                    <a class="btn btn-light" href="#">View Listing</a>
                    <button class="btn btn-danger" data-url="#" data-toggle="modal" data-target="#deleteConfirmModal" data-id="{{ contact.id}}">Delete</button>
                    <a href="#" class="btn btn-success">Edit</a>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Rise of Germany</td>
                  <td>Ken Lau</td>
                  <td>859821452445</td>
                  <td>English</td>
                  <td>History</td>
                  <td>
                    <a class="btn btn-light" href="#">View Listing</a>
                    <button class="btn btn-danger" data-url="#" data-toggle="modal" data-target="#deleteConfirmModal" data-id="{{ contact.id}}">Delete</button>
                    <a href="#" class="btn btn-success">Edit</a>
                  </td>
                </tr>

            </tbody>  
            </table>
          </div>
        </div>
      </div>
    </section>

{% endblock content  %}