{% extends "base.html" %} 
{% block title %} List {% endblock %}
{% block content %}

<!-- Hero Section -->
  <section id="dashboard" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-md-12">


            {% if listings %}
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Author</th>
                  <th>ISBN</th>
                  <th>Language</th>
                  <th>Category</th>
                </tr>
              </thead>

              <tbody>
                {% for listing in listings %}
                <tr>
                  <td>{{ listing.id }}</td>
                  <td>{{ listing.title }}</td>
                  <td>{{ listing.author }}</td>
                  <td>{{ listing.isbn }}</td>
                  {% if listing.language in language_choices %}
                  {%  for key, value in language_choices.items %}
                  {% if key == listing.language %}
                  <td>{{ value }}</td>
                  {% endif %}
                  {% endfor %}
                  {% else %}
                  <td></td>
                  {% endif %}
                  {% if listing.category in category_choices %}
                  {%  for key, value in category_choices.items %}
                  {% if key == listing.category %}
                  <td>{{ value }}</td>
                  {% endif %}
                  {% endfor %}
                  {% else %}
                  <td></td>
                  {% endif %}
                  <td><a href="{% url 'books:about' listing.id %}" class="btn btn-success">Detail</a></td>
                </tr>
                {% endfor %}
            </tbody>  
            </table>
            {% else %}
            <div class="col-md-12">
              <h2>Book is NOT found</h2>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </section>

{% endblock content  %}